* {
  font-family: sans-serif;
}

/*body {
  background-image: "{{ url_for( 'static', filename='bg.webp') }}";
}*/

#body 
{   
    margin: 0 0;
    padding: 0;
    text-align: center;
}

.chart
{
    max-height: 1000px;
    max-width: 1000px;
    align-content: center;
    justify-content: center;
}

span{
    color: red;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 60px 0 0 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  #form {
    margin-top: 30px;
    max-width: 500px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 35px;
  }

  #tables {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 65%;
  }
  
  #table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #table tr:nth-child(even){background-color: #f2f2f2;}
  
  #table tr:hover {background-color: #ddd;}
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }



  
@media (max-width: 480px) {
    #table {
    max-width: none;
    }
  }