{% extends 'base.html' %}

{% block body %}
<h1>Your Recommended Portfolio </h1>
    <table id="table">
        <tr>
          <th>Symbol</th>
          <th>Name</th>
          <th>Asset class</th>
          <th>Price(CAD)</th>
          <th># of Shares</th>
          <th>Total Amount(CAD)</th>
        </tr>
        {% for row in data %}
        <tr>
          <td><a href="/graph/v">{{ row['symbol'] }}</a></td>
          <td>{{ row['name'] }}</td>
          <td>{{ row['asset'] }}</td>
          <td>{{ row['price'] }}</td>
          <td>{{ row['_shares'] }}</td>
          <td>{{ row['price']*row['_shares'] }}</td>
        </tr>
        {% endfor %} 
    </table>
{% endblock %}